/* Stylesheet.css */

body {
 background-color: #4B70AF;
 color: #FFFFFF;
}

#request-image {
	display: inline-block;
}

#hidden-frame {
	visibility: hidden;
}

input[type=number]{
    width: 38px;
} 